.list-partners {
    display: flex;
}

.link-partner {
    display: flex;
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-partner:hover,
.link-partner:focus {
    fill: #2196f3;
    border: 1px solid #2196f3;
}

.partner-logo:not(:last-child) {
    margin-right: 30px;
}